<h2>QUESTIONS</h2>
<p>
  Adulation, objections, questions, and other nouns:
</p>

<h2>SUBMISSIONS</h2>
<p>
  Our editors welcome your submissions and pitches -- but please keep it under 2,000 words. Before sending, see our pitch guidelines here. If we like what we see, we'll be in touch!
</p>

{{#link-to 'about'}}About{{/link-to}}
