{{outlet}}

<div class="container ad">

  <div id="primary-image">
    <img src="https://securepubads.g.doubleclick.net/pcs/view?xai=AKAOjsvioE6rIbMmEUEB2HN-w7g4G3_h7qyiSWAntpCNkhBEC3VxPRsit8fAXsSD9CoQf8NuWLkESOUZoiAcwVpkUTUTe9SPQYwtRj63gLQw5IsTf5GB63lIcfdrxEVXxw2RQW00H9mf81rsVGCF8CoyNQNGNrpbNdK9OLO4RdAdGcQO8tM0uu7HJo8rltFIGaLbw-W8y5DaYe2gqjWprwdHvTC-0K7xsabX2RwAu3G3N-X1TGvZyc7oP5BHOPUonDo27i4ykyIGz74&sig=Cg0ArKJSzE38se062BIeEAE&urlfix=1&adurl=https://lovelace-media.imgix.net/uploads/1442/ebfdc450-e578-0134-ceee-0aec1efe63a9.jpg?w=375&h=188fit=clip&auto=format&q=70&dpr=2" alt="Shop Now">
  </div>
</div>


<ul>
  {{#each model as |article|}}
  <ul>
    {{article-tile article=article update="update" destroyArticle="destroyArticle"}}
  </ul>
  {{/each}}
</ul>

{{new-article saveArticle2="saveArticle3"}}
